*{
  margin:0;
  padding:0;
}
header{
  background: #0f0404;


}
.box-header{
  padding-top: 1vh;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5vh;
  height: 6vh;
}

.titulo, .home {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;

}
a{
  color:#fff;
  text-decoration: none;
}
a:hover{
  color: rgba(90, 90, 151, 0.822);
}
.home{
  margin-right: 40px;
}

.titulo{
  margin-left: 40px;
}

body{
width: 100%;
height: 94vh;
background: url(../teste-01.jpg) no-repeat center;
background-size: cover
}

.container{
position: absolute;
top: 2rem; bottom: 0;
left: 0px; right: 85px;
margin: auto;
width: 40%;
height: 33rem;
border-radius: 10px;
}

.box{
  padding-top: 10px;
  padding-left: 20px;
}

input{
  width: 120px;
  height: 18px;
  border: none;
  border-radius: 1px;
}

.button{
display: flex;
justify-content: center;
padding-top: 10px;

}
.btn{
  align-items: center;
}

.btn-opc{
  width: 100px;
  height: 30px;
  border:none;
  background-color: rgba(255, 0, 0, 0.637);
  border-radius: 6px;
}

.btn-opc:hover{
  background-color: rgba(255, 166, 0, 0.726);
  transition: 0.2s;

}

.btn2{
  width: 100px;
  height: 30px;
  background-color: rgba(255, 0, 0, 0.637);
  border-radius: 6px;

}